* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #181B23;
  color: #EEEEF2;
}

a {
  color: inherit;
  text-decoration: none;
}
